<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
 <%=render partial: 'navigation/nav'%>

   <main class="mdl-layout__content">
    <div class="page-content">
        
    </div>
    </main>
</div>