<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
 <%=render partial: 'navigation/nav'%>

 <div class="mdl-grid">
   <h4 class="mdc-typography--headline4"><i class="material-icons">
shopping_cart
</i> Shopping Cart</h4>
  <div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table">
       
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Feature</th>
            <th  class="mdl-data-table__cell">Quantity</th>
            <th class="mdl-data-table__cell">Price</th>
            <th class="mdl-data-table__cell">Total</th>
            <th class="mdl-data-table__cell">View</th>
            <th class="mdl-data-table__cell">Remove</th>
        </tr>
    </thead>
  <tbody>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">John Lennon John Lennon John Lennon</td>
        <td  class="mdl-data-table__cell"><input type="number" style="width:40px; text-align: right; " min="1"  value=2 /></td>
        <td class="mdl-data-table__cell">$500.00</td>
        <td class="mdl-data-table__cell">$1000.00</td>
        <td class="mdl-data-table__cell"><a href="#">Details</a></td>
        <td class="mdl-data-table__cell"><a href="#" style="color:red"><i class="material-icons">delete_forever</i></a></td>
    </tr>

     <tr>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td  class="mdl-data-table__cell"></td>
        <td class="mdl-data-table__cell">Sub-Total: </td>
        <td class="mdl-data-table__cell">$1000.00</td>
        <td class="mdl-data-table__cell"></td>
        <td class="mdl-data-table__cell"></td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td  class="mdl-data-table__cell"></td>
        <td class="mdl-data-table__cell">GST (5%): </td>
        <td class="mdl-data-table__cell">$5.00</td>
        <td class="mdl-data-table__cell"></td>
        <td class="mdl-data-table__cell"></td>
    </tr>
        <tr>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td  class="mdl-data-table__cell"></td>
        <td class="mdl-data-table__cell">PST (5%): </td>
        <td class="mdl-data-table__cell">$5.00</td>
        <td class="mdl-data-table__cell"></td>
        <td class="mdl-data-table__cell"></td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td  class="mdl-data-table__cell"></td>
        <td class="mdl-data-table__cell">HST (5%): </td>
        <td class="mdl-data-table__cell">$5.00</td>
        <td class="mdl-data-table__cell"></td>
        <td class="mdl-data-table__cell"></td>
    </tr>

     <tr>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td  class="mdl-data-table__cell"></td>
        <td class="mdl-data-table__cell">Total: </td>
        <td class="mdl-data-table__cell">$1100.00</td>
        <td class="mdl-data-table__cell"></td>
        <td class="mdl-data-table__cell"></td>
    </tr>
  
  </tbody>
</table>
</div>
  
</div>


  

 </div>