  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Beeblee</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <!-- Right aligned menu below button -->
       <a href="/shopping_cart/index">
            <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1" style="color: white;">shopping_cart</div>
        </a>

        <button id="demo-menu-lower-right"
                class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">
        <li class="mdl-menu__item">
            <a class="mdl-menu__item" href="" style="color: black;">
                <i class="material-icons" style="vertical-align: middle !important;">person</i>
                Login
            </a>
        </li>
        <li class="mdl-menu__item" >
            <a class="mdl-menu__item" href="" style="color: black;">
                <i class="material-icons" style="vertical-align: middle !important;">history</i>
                Order History
            </a>
        </li>
        <li  class="mdl-menu__item">Disabled Action</li>
       <li class="mdl-menu__item" >
            <a class="mdl-menu__item" href="" style="color: black;">
                <i class="material-icons" style="vertical-align: middle !important;">power_settings_new</i>
                Logout
            </a>
        </li>
        </ul>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Beeblee</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/"><i class="material-icons">home</i> Home</a>

      <a class="mdl-navigation__link" href="/feature/index"><i class="material-icons">view_list</i> Products</a>
      <a class="mdl-navigation__link" href="/category/index"><i class="material-icons">category</i> Categories</a>
      <%# <a class="mdl-navigation__link" href=""><i class="material-icons">history</i> Order History</a> %>
        <a class="mdl-navigation__link" href="/contact/index"><i class="material-icons">perm_contact_calendar</i> Contact Us</a>
    </nav>
  </div>